# Common
GEOPLATFORME_BASE_URL=https://api-adresse.data.gouv.fr
OTP_BASE_URL=http://otp:8080
AM_TIME=08:30
PM_TIME=18:00
DEFAULT_SCENARIO=AM
DEFAULT_BUFFER_METERS=250
ENABLE_POSTGIS=false
API_PORT=8000
WEB_PORT=3000
OTP_GRAPH_BUILD_MEMORY=6G

# Frontend
NEXT_PUBLIC_MAPTILER_KEY=
NEXT_PUBLIC_OTP_BASE_URL=http://localhost:8000
NEXT_PUBLIC_ENABLE_POSTGIS=false
NEXT_PUBLIC_DEFAULT_SCENARIO=AM
